<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="icon" type="img/png" href="./img/icon2.png">
    <link rel="stylesheet" href="/css/form.css"/>
    <title>Omnilife</title>
</head>
<body>
  <div class="container">
    <form  class="form" action="https://formsubmit.co/cquintero.soft@gmail.com" method="POST">
      <h2 class="form-title">Formulario de contacto</h2>
      <p class="form__paragraph"> <a href="/" class="form__link">Volver a la página de productos </a></p>
    <div class="form__container">      
      <div class="form-group">
        <label class="form__label"  for="name"></label>
        <input class="form__input" type="name" id="name" name="name" placeholder="Nombre:">
        <span class="form__line"></span>
      </div>
      <div class="form-group">
        <label class="form__label" for="phone"></label>
        <input class="form__input" type="phone" id="phone" name="phone" placeholder="Celular:">
        <span class="form__line"></span>
      </div>
      <div class="form-group">
        <label class="form__label" for="amount"></label>
        <input class="form__input" type="amount" id="amount" name="amount" placeholder="Cantidad:">
        <span class="form__line"></span>
      </div>
      <div class="form-group">
        <label class="form__label" for="product"></label>
        <input class="form__input" type="product" id="product" name="product" placeholder="Nombre del Producto:">
        <span class="form__line"></span>
      </div>
      <div class="form-group">
        <button type="submit" class="form__submit" value="Entrar">Enviar</button>
      </div>
    </div>
      <input type="hidden" name="_next" value="http://localhost:3000/">
      <input type="hidden" name="_captcha" value="false">
    </form>

  </div>      
</body>
</html>







