<%- include("template/cabecera", {titleweb: 'productos'}) %>

<main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Nuestro Producto</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="./img/aloebeta.jpg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3><span>1</span>Productos destacados</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
               Consequatur neque sapiente perferendis eaque reiciendis minima! Pariatur mollitia hic assumenda odit sunt quam illo cumque, nulla ea nobis, voluptate voluptas beatae.
            </p>
           
            <h3><span>2</span>Productos destacados</h3>
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
              Consequatur neque sapiente perferendis eaque reiciendis minima! Pariatur mollitia hic assumenda odit sunt quam illo cumque, nulla ea nobis, voluptate voluptas beatae.
            </p>
        </div>
      </div>
    </section>
    

<%- include("template/footer") %>
