<%- include("template/cabecera", {titleweb: 'productos'}) %>

<main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Nuestro Producto</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="./img/aloebeta.jpg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3><span>1</span>Productos destacados</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
               Consequatur neque sapiente perferendis eaque reiciendis minima! Pariatur mollitia hic assumenda odit sunt quam illo cumque, nulla ea nobis, voluptate voluptas beatae.
            </p>
           
            <h3><span>2</span>Productos destacados</h3>
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
              Consequatur neque sapiente perferendis eaque reiciendis minima! Pariatur mollitia hic assumenda odit sunt quam illo cumque, nulla ea nobis, voluptate voluptas beatae.
            </p>
        </div>
      </div>
    </section>
</main>

<main class="main">
  <div class="container">
    <h2 class="main-title">Sección de productos</h2>
    <section class="container-products">
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class="fas fa-cart-plus"></i>
      </div>
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>

      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>

      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>
    </section>
  </div>
</main>

<main>
  <div class="container__card">
    <div class="card__father">
      <div class="card">
        <div class="card__front">
          <img class="card__front" src="./img/imagenproducts.jpg" alt="">
          <div class="bg"></div>
        </div>
        <div class="card__back">
          <div class="body__card_back">
            <h1>Windows 10</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
               elit. Sint, quisquam?</p>
               <input type="button" value="Leer mas">
          </div>
        </div>
      </div>
    </div>

    <div class="card__father">
      <div class="card">
        <div class="card__front">
          <img class="card__front" src="./img/imagenproducts1.jpg" alt="">
          <div class="bg"></div>
        </div>
        <div class="card__back">
          <div class="body__card_back">
            <h1>Windows 10</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
               elit. Sint, quisquam?</p>
               <input type="button" value="Leer mas">
          </div>
        </div>
      </div>
    </div>

    <div class="card__father">
      <div class="card">
        <div class="card__front">
          <img class="card__front" src="./img/imagenproducts.jpg" alt="">
          <div class="bg"></div>
        </div>
        <div class="card__back">
          <div class="body__card_back">
            <h1>Windows 10</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
               elit. Sint, quisquam?</p>
               <input type="button" value="Leer mas">
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

<div class="contenedor">
  <h2 class="product__por">Por qué nuestros productos</h2>
  <div class="ratio ratio-16x9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nJ7l4q_OR3s" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
     clipboard-write; encrypted-media;
     gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>




<%- include("template/footer") %>
