<%- include("template/cabecera", {titleweb: 'Omnilife'}) %>

<main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Producto Destacado</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="./img/omniplus5.jpg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3><span>1</span>Nutrientes</h3>
            <p>Omniplus es una fórmula exclusiva que combina una 
              amplia variedad de nutrientes esenciales en un solo sobre. 
              Está diseñado para brindar un impulso nutricional completo y equilibrado, 
              proporcionando los elementos esenciales que el cuerpo necesita para funcionar 
              de manera óptima. Contiene una mezcla de vitaminas, minerales, aminoácidos y
               antioxidantes cuidadosamente seleccionados para promover la vitalidad y el 
               bienestar en general.
            </p>
           
            <h3><span>2</span>Preserva la salud</h3>
            <p>Este producto se destaca por su enfoque integral para la salud. 
              Sus ingredientes están formulados para apoyar diferentes sistemas 
              y funciones del cuerpo, incluyendo el sistema inmunológico, 
              la salud cardiovascular, la digestión y el metabolismo. Además, 
              Omniplus está diseñado para ayudar a mejorar los niveles de energía, 
              reducir la fatiga y fortalecer el sistema antioxidante del cuerpo.
            </p>
        </div>
      </div>
    </section>
</main>

<main class="main">
  <div class="container">
    <h2 class="main-title">Sección de productos</h2>
    <section class="container-products">
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class="fas fa-cart-plus"></i>
      </div>
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>
      <div class="product">
        <div class="product-ensi"></div>
        <img src="./img/omnilife1.jpg" alt="" class="product__img">
        <div class="product__description">
          <h3 class="product__title">Zupreme</h3>
          <span class="product__price">$ 64.000</span>
        </div>
        <i class=" product__icon  fas fa-cart-plus"></i>
      </div>
    </section>
  </div>
</main>




<main>
  <div class="container__card">
    <div class="card__father">
      <div class="card">
        <div class="card__front" style="background-image: url(img/omnilife4.jpg);">
          <div class="bg"></div>
          <div class="body__card_front">
            <h1>Biocros</h1>
          </div>
        </div>
        <div class="card__back">
          <div class="body__card_back">
            <h1>Biocros</h1>
            <p>Biocros es un producto de Omnilife que forma parte de su línea de suplementos
               nutricionales. Se presenta como un complemento alimenticio en forma de polvo, 
              diseñado para brindar apoyo nutricional y promover el bienestar general.</p>
              <a href="#"></i><input type="button" value="Comprar"></a>
               
          </div>
        </div>
      </div>
    </div>

    <div class="card__father">
      <div class="card">
        <div class="card__front" style="background-image: url(img/Agua-blu.png);">
          <div class="bg"></div>
          <div class="body__card_front">
            <h1>Blu Supreme</h1>
          </div>
        </div>
        <div class="card__back">
          <div class="body__card_back">
            <h1>Blu Supreme</h1>
            <p>Blu Supreme es un producto de Omnilife que forma parte de su línea de suplementos 
              nutricionales. Se presenta como un complemento alimenticio en forma de polvo, 
              diseñado para brindar apoyo nutricional y promover la salud y el bienestar.</p>
              <a href="#"></i><input type="button" value="Comprar"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="card__father">
      <div class="card">
        <div class="card__front" style="background-image: url(img/ego_herbal.png);">
          <div class="bg"></div>
          <div class="body__card_front">
            <h1>Ego Herbal</h1>
          </div>
        </div>
        <div class="card__back">
          <div class="body__card_back">
            <h1>Ego Herbal</h1>
            <p>Ego Plant Omnilife ayuda al mejorar el funcionamiento del riñón. 
              Contiene vitaminas D, E y B12, Potasio y extractos herbales, 
              los cuales benefician la función de los riñones. 
              Tiene acción diurética, por lo que facilita la expulsión de líquidos. 
              Depura y desintoxica el sistema renal.</p>
               <input type="button" value="Leer mas">
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

<div class="contenedor">
  <h2 class="product__por">Por qué nuestros productos</h2>
  <div class="ratio ratio-16x9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nJ7l4q_OR3s" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
     clipboard-write; encrypted-media;
     gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>
<a class="btn-wsp" target="_blank"  href="https://api.whatsapp.com/send?phone=3227246756&text=Hola, quiero comprar tu producto">
   <i class="fa-brands fa-whatsapp icon-whatsapp"></i>
</a>
<footer>
  <div class="container__footer">
        <div class="box__footer">
          <div class="logo">
            <img src="./img/icon.png" alt="">
          </div>
          <div class="terms">
            <p>"En Omnilife, nos comprometemos a brindar
               productos de nutrición y bienestar de la más alta calidad,
                respaldados por la ciencia y formulados con ingredientes naturales.
                 Nuestro objetivo es ayudarte a alcanzar una vida saludable
                  y equilibrada, brindándote soluciones confiables y efectivas
                   para potenciar tu bienestar en todos los aspectos.
                    Descubre nuestro catálogo de productos y comienza tu viaje
                     hacia una vida llena de energía, vitalidad y bienestar con 
                     Omnilife".</p>
          </div>
      </div>
  
    <div class="box__footer">
        <h2>Contacto</h2>
        <a href="#">cquintero.soft@gmail.com</a>
        <a href="#">3227246756</a>
        <a href="#">3143260887</a>
        <a href="#">cll 89 # 95 H 07 IN 108 </a>
    </div>

   

    <div class="box__footer">
        <h2>Redes Sociales</h2>
        <a href="https://www.facebook.com/mary.quintero.5264?mibextid=ZbWKwL"><i class="fab fa-facebook-square"></i>Facebook</a>
        <a href="https://www.linkedin.com/in/carlos-arturo-cubides-quintero-224ab6194?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BtwkxUMJXSwmFlNLqdSCg8w%3D%3D"><i class="fab fa-linkedin"></i>Linkedin</a>
        <a href="https://instagram.com/salud_ybellezaomnilife?igshid=MzRlODBiNWFlZA=="><i class="fab fa-instagram-square"></i>Instagram</a>
    </div>
  </div>
  <div class="box__copyright">
    <hr>
    <p>Todos los derechos reservados © 2023 <b>OmniVida</b></p>
  </div>
</footer>


<%- include("template/footer") %>
