<header>
  <div>
    <nav>
      <a href="" hre="#">Productos</a>
      <a href="" hre="#">Quienes Somos</a>
      <a href="" hre="#">Información</a>
    </nav>
    <a href="#">Get Start</a>
  </div>
  <section class="textos-header">
    <h1>Beneficios para la salud </h1>
    <h2>nutrición y bienestar físico de las personas</h2>
  </section>
  <div class="wave" style="height: 250px; overflow: hidden;" >
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C317.43,192.94 355.25,40.97 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path>
    </svg>
  </div>
</header>
