<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Omnilife</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Quienes Somos</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-phone"></i>  3227246756 </button>
        </form>
      </div>
    </div>
  </nav>
  <section class="textos-header">
    <h1>Beneficios para la salud </h1>
    <h2>nutrición y bienestar físico de las personas</h2>
  </section>
  <div class="wave" style="height: 250px; overflow: hidden;" >
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C317.43,192.94 355.25,40.97 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path>
    </svg>
  </div>
</header>
